/* Sembunyikan scrollbar */
html, body {
    overflow-y: scroll; 
    scrollbar-width: none; 
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

/* Style Navbar */
.navhome {
    color: rgb(255, 255, 255);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.navhome:hover {
    color: #ffc400;
    background-color: rgb(105, 101, 101);
}
.navhome:active {
    color: #e6ff07;
    background-color: rgb(0, 0, 0);
}

.navcontact {
    color: rgb(255, 255, 255);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.navcontact:hover {
    color: #ffc400;
    background-color: rgb(105, 101, 101);
}

.navcontact:active {
    color: #e6ff07;
    background-color: rgb(0, 0, 0);
}

.dropdown {
    color: rgb(255, 255, 255);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.dropdown:hover {
    color: #ffc400;
    background-color: rgba(105, 101, 101, 0);
}

.dropdown:active {
    color: #e6ff07;
    background-color: rgba(0, 0, 0, 0);
}

/* Showcase */
.showbelajar {
    color: rgb(255, 255, 255);
    background-color: #bd2727;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
}
.showbelajar:hover {
    background-color: #ff0000;
    color: #ffd900;
    border-color: #ffd900;
    
}
.showbelajar:active {
    background-color: #610000 !important; 
    color: #ff9307 !important;
    border-color: #ff9307 !important;
}

.banner {
    background: url(../assets/btc.png) no-repeat center center;
    background-size: cover;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.lingkaran {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 100px;
    margin: auto;
    height: 100px;
    color: #ffae00;
}

.lingkaran i {
    position: relative;
}

.fa-bitcoin {
    font-size: 100px;
}

.kolom {
    gap: 5px;
}
/* crypto */
.crybg {
    background-image: url(../assets/bit\ \(2\).png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.btncry {
    border-color: #ffae00;
    color: #ffae00;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.btncry:hover {
    background-color: #b0aaaa43;
    color: #ffd500;
    border-color: #ffd500;
}
.btncry:active {
    background-color: #6b6868;
    color: #d49100;
    border-color: #d49100;
}

/* reksadana */
.reksbg {
    background-image: url(../assets/5.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.btnreks {
    border-color: #ffae00;
    color: #ffae00;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.btnreks:hover {
    background-color: #b0aaaa43;
    color: #ffd500;
    border-color: #ffd500;
}
.btnreks:active {
    background-color: #6b6868;
    color: #d49100;
    border-color: #d49100;
}

/* saham */
.sahambg {
    background-image: url(../assets/ayam\ bakar.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.btnshm {
    border-color: #ffae00;
    color: #ffae00;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.btnshm:hover {
    background-color: #b0aaaa43;
    color: #ffd500;
    border-color: #ffd500;
}
.btnshm:active {
    background-color: #6b6868;
    color: #d49100;
    border-color: #d49100;
}


@media (max-width:320px ) {
    .textselamat {
        font-size: 25px;
    }
    .texttemukan {font-size: 10px;}
}
